/* -------------------------------- */
/* ---------- CSS Reset ----------- */
/* -------------------------------- */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

img {
  width: 100%;
}

/* Add your styles below */
body {
  background-color: black;
  color: #f5f5f5;
  font-family: Arial, sans-serif;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: right;
  padding: 10px;
  gap: 40px;
}
#logo {
  width: 100px;
}
nav>a {
  text-decoration: none;
  color: #f5f5f5;
  padding: 15px;
}
nav>a:hover {
  text-decoration: underline;
  color: #f5f5f5;
}
#ada-profile-photo {
  display: flex;
  flex-direction: row;
  max-width: 300px;
  border-radius: 50%;
  gap: 40px;
}
ul {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
#main-section {
  display: flex;
  flex-direction: row;
  gap: 40px;
}
#bio {
  max-width: 500px;
  align-items: right;
  gap: 40px;
}

